/*https://material.io/guidelines/style/color.html*/
*{
    font-family: 'Droid Sans', sans-serif;
}

.nav-header{
    background-color: #263238;
}

.nav-link span{
    padding-right: 10px;
}

body{
    background-color: #ECEFF1;
}

.webform{
    margin-top: 100px;
}

.inputarea{
    background-color: #CFD8DC;
    padding: 25px;
    border-radius: 5px;
    border: 3px solid #90A4AE;
}

#submitSearch{
    background-color: #546E7A;
    border-color: #546E7A;
}

.postSearchBtns{
    display: none;
    margin-top: 25px;
    background-color: #546E7A;
    border-color: #546E7A;
}

.active {
    webkit-animation: progress-bar-stripes .5s linear infinite;
    -o-animation: progress-bar-stripes .5s linear infinite;
    animation: progress-bar-stripes .5s linear infinite;
}

.progress-bar{
    display: none;
    background-color: #607D8B;
}

.center {
    text-align: center;
}

.tabs{
    margin-top: 25px;
}

.active-tab{
    background-color: #263238;
    color: #ffffff;
}

.inactive-tab{
    background-color: #CFD8DC;
}

.display-port{
    margin-bottom: 250px;
}

#log-area{
    display: none;
}

#log-text{
    height: 700px;
    overflow: scroll;
    color: #212121;
}

#log-text > p-2{
    width: 100%;
}

#log-text > p-2:nth-child(even){
    background: rgba(236, 239, 246, 1);
}

#chart{
    height: 700px;
    color: #212121;
    padding: 0;
    overflow: auto;
}

.footer{
    padding-top: 15px;
    background-color: #455A64 !important;
    color: #FFFFFF;
    text-align: center;
}

.footer a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer ul{
    list-style-type: none;
}

.has-error{
    border-color: #a94442;
    background-color: rgba(255, 142, 142, 0.49);
}

/*D3 Styles*/
.node circle {
		fill: #607D8B;
		stroke: #455a64;
		stroke-width: 1px;
	}

.link {
		fill: none;
		stroke: #ccc;
		stroke-width: 2px;
	}

div.tooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 10%;
    height: 10%;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}