{% extends "layout.html" %}

{% block content %}
    <div class="container webform">
      <div class="row inputarea" id="input-form">
        <div class="col-lg-12">
          <form>
            <div class="form-group row" style="display: none">
              <label for="pastSearchesDD" class="col-sm-2 col-form-label">Past Searches</label>
              <select id="pastSerchesDD" class="col-sm-4 form-control">
                <option>None</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="startingURL" class="col-sm-2 col-form-label">Starting URL</label>
              <input class="col-sm-4 form-control" type="url" placeholder="https://example.com" id="url" required aria-required="true">
              <label for="searchType" class="col-sm-2 col-form-label">Search Type</label>
              <select id="searchType" class="col-sm-4 form-control" required aria-required="true">
                <option></option>
                <option>Depth</option>
                <option>Breadth</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="searchLimit" class="col-sm-2 col-form-label">Max Number</label>
              <input id="searchLimit" class="col-sm-4 form-control" type="number" placeholder="1 - 125" min="1" max="150" required aria-required="true">
              <label for="searchKeyword" class="col-sm-2 col-form-label">Keyword</label>
              <input id="searchKeyword" class="col-sm-4 form-control" type="text" placeholder="Keyword" required aria-required="true">
            </div>
            <div>
              <button type="button" class="btn btn-primary col-sm-2" id="submitSearch">Search!</button>
            </div>
          </form> 
        </div>        
      </div>
    </div>
    <div class="container">
      <div class="row progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress-bar-row"></div>
      <div class="row justify-content-md-center">
          <button id="searchAgainBtn" class="btn btn-primary col-xs-2 col-sm-2 postSearchBtns">Start A New Search</button>
          <span class="col-xs-1 col-sm-1"></span>
          <button id="exportLogBtn" class="btn btn-primary col-xs-2 col-sm-2 postSearchBtns">Export Text Log</button>
          <span class="col-xs-1 col-sm-1"></span>
          <button id="exportJsonBtn" class="btn btn-primary col-xs-2 col-sm-2 postSearchBtns">Export Tree JSON</button>

      </div>
      <div class="row tabs">
          <div class="col-xs-6 col-sm-6 text-center active-tab" id="node-tab">
                Node Graph
          </div>
          <div class="col-xs-6 col-sm-6 text-center inactive-tab" id="log-tab">
                Log
          </div>
      </div>
      <div class="row display-port" id="log-area">
          <code class="d-flex align-items-start col-sm-12 flex-column" id="log-text"></code>
      </div>
      <div class="row display-port" id="chart-area">
        <!-- d3 chart will go here -->
          <div class="d-flex align-items-start col-sm-12 flex-column" id="chart"></div>
      </div>
    </div>
	
	<!-- Scripts for d3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>

    <!-- lodash cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw=" crossorigin="anonymous"></script>

    <!-- file saver cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/cookieParser.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/submitForm.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/updateTextArea.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nodeChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/updateProgressBar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/makeLog.js') }}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.slim.min.js" integrity="sha256-1R5guYd/H+WEatv0fPVrVqIvu/4ntv7G0Fa5ooY+24g=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">

            var startTime, endTime, currTime;
            var timeDiff;
            var globalData;
            var textLog = [];

            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('message',function (data) {
                globalData = data;

                updateProgressBar(data.progress);

                if(data.start){
                    appendNewLine("Crawler Start");
                    currTime = new Date();
                    textLog.push(currTime + ": Crawler Stared");
                    setRootData(data.new_node);
                    startTime = new Date();
                }
                else{
                    currTime = new Date();
                    textLog.push(currTime + ": " + data.log);
                    appendNewLine(data.log);
                    update(data.new_node);
                }

                if(data.final){
                    currTime = new Date();
                    textLog.push(currTime + ": Crawler Finished");
                    endTime = new Date();
                    timeDiff = endTime - startTime;
                    timeDiff /= 1000;
                    Math.round(timeDiff % 60);
                    var finishText = "Crawler Ended Elapsed Time: " + timeDiff + "sec";
                    appendNewLine(finishText);
                    fadeProgressBar();
                    showPostSearch();
                }
            })

        </script>

{% endblock %}
		