{% extends "layout.html" %}

{% block content %}
    <div class="container webform">
      <div class="row inputarea" id="input-form">
        <div class="col-lg-12">
          <form>
            <div class="form-group row" style="display: none">
              <label for="pastSearchesDD" class="col-sm-2 col-form-label">Past Searches</label>
              <select id="pastSerchesDD" class="col-sm-4 form-control">
                <option>None</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="startingURL" class="col-sm-2 col-form-label">Starting URL</label>
              <input class="col-sm-4 form-control" type="url" placeholder="https://example.com" id="url">
              <label for="searchType" class="col-sm-2 col-form-label">Search Type</label>
              <select id="searchType" class="col-sm-4 form-control">
                <option></option>
                <option>Depth</option>
                <option>Breadth</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="searchLimit" class="col-sm-2 col-form-label">Max Number</label>
              <input id="searchLimit" class="col-sm-4 form-control" type="number" placeholder="0" min="0">
              <label for="searchKeyword" class="col-sm-2 col-form-label">Keyword</label>
              <input id="searchKeyword" class="col-sm-4 form-control" type="text" placeholder="Keyword">
            </div>
            <div>
              <button type="button" class="btn btn-primary col-sm-2" id="submitSearch">Search!</button>
            </div>
          </form> 
        </div>        
      </div>
      <div class="row progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress-bar-row"></div>
      <div class="row">
          <button id="searchAgainBtn" class="btn btn-primary col-sm-2">Stuff</button>
      </div>
      <div class="row" id="chartArea">
        <!-- d3 chart will go here -->
      </div>
    </div>
	
	<!-- Scripts for d3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.8.0/d3.min.js" integrity="sha256-SG9O7IpJWlIha5Q8UIqaLFkkimE+CbubKlzSwTbdS1g=" crossorigin="anonymous"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='js/cookieParser.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/submitForm.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/updateProgressBar.js') }}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.slim.min.js" integrity="sha256-1R5guYd/H+WEatv0fPVrVqIvu/4ntv7G0Fa5ooY+24g=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">

            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function(data)
             {
                console.log("Connected to server.");
             });

            socket.on('message',function (data) {
                console.log(data);
                updateProgressBar(data.progress);
                if(data.final){
                    fadeProgressBar();
                    showSearchAgainBtn();
                }
            })

        </script>

{% endblock %}
		